* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  background-color: #23283e;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-inline: 15%;
}
h1 {
  font-size: 2.5rem;
  font-family: "Poppins";
  font-weight: 600;
  color: #cdcdff;
}
h2 {
  font-size: 1.5rem;
  font-family: "Poppins";
  font-weight: 600;
  color: #cdcdff;
}
p {
  font-size: 0.75rem;
  font-family: "Poppins";
  font-weight: 400;
  color: #bdbddd;
}
h3 {
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 600;
  color: #cdcdff;
}
